<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t201.cj.dao.devuser.DevUserMapper">
	
	
	<!-- 根据开发者帐号查询开发者信息 -->
	<select id="getLogin" resultType="DevUser">
		SELECT * FROM `dev_user`
		where devCode= #{devCode};
	</select>
</mapper>